footer { 
         height: 60px; width: 100%;
         position: relative;
         top: 639px;
         border-top: 1px solid #CCCCCC;
        }
footer p {
    text-align: center;
    margin-top: 26px;
    position: absolute;
    left: 700px;
}
